body {
  flex-direction: column;
  justify-content: space-evenly;
}
.m-buttons {
  display: flex;
  align-items: center;
}

.but {
  height: 80px;
  width: 80px;
  background-color: aliceblue;
  border: blue solid 1px;
}
.b {
  border: none;
  background-color: black;
}
.but:active {
  background-color: blue;
}

.b:active {
  background-color: black;
}
