body {
  flex-direction: column;
  justify-content: flex-start;
}
.m-buttons {
  display: flex;
  align-items: center;
  padding: 100px;
}
.but {
  height: 50px;
  width: 50px;
  background-color: aliceblue;
  border: blue solid 1px;
}
.b {
  border: none;
  background-color: black;
}
.but:active {
  background-color: blue;
}

.b:active {
  background-color: black;
}
